<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->
   
   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="Target" value="System.out"/>
		<param name="Encoding" value="UTF-8"/>
		
		<layout class="org.apache.log4j.PatternLayout">
		 	<!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
        	<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>

        	<!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
        	<param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
         	-->
		</layout>
	</appender>
	
	<appender name="FILE" class="org.apache.log4j.FileAppender">
      	<param name="File" value="log/corrmatrix.log"/>
      	<param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>

      	<layout class="org.apache.log4j.PatternLayout">
        	<!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
        	<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

        	<!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
        	<param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
         	-->
      	</layout>
    </appender>

	<!-- Limit categories -->	
	<logger name="gov.pnnl">
		<level value="DEBUG"/>
	</logger>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <appender-ref ref="CONSOLE"/>
      <!-- <appender-ref ref="FILE"/> -->
   </root>

</log4j:configuration>